body {
    background: linear-gradient(to right, #1A6978, 50%, #124451);
    width: 1400px;
    height: 800px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */
.navigation {
    background-color: #373738;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.inline-block {
    
    margin: 0%;
    display: inline-block;
    vertical-align: middle;
}

.logo {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 18%;
    padding: 2%;
    text-align: center;
    border-right: 2px solid #8bd8bd;
}

.headerLogo {
    height: 40px;
}

nav {
    width: 78%;
    padding: 1%;
}

ul {
    width: 50%; /* this is screwing up the top nav */
    list-style-type: none;
    margin-left: auto; /* supposed to center the ul in its container to the right */
    
    margin: 0%;
    padding: 2%;
    overflow: hidden;
}

li a {
    color: #8bd8bd;
    text-decoration: none;
    padding: 14px 16px;
    transition: background-color 0.3s ease;
}

li a:hover:not(.active) {
    background-color: #222;
    color: whitesmoke;
}

.active {
    background-color: whitesmoke;
}

/* Hero Image */
.heroImg {
    background-image: url(../images/content-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 600px; was in instructions for HW17, but i removed once I did my own styling*/
    padding: 25px;
    margin: 20px 0 20px 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    width: 1200px; /* was originally 500px per HW17, but I wanted the img to stretch wider */
    margin: 0 auto;
    padding: 35px;
    color: whitesmoke;
    line-height: 1.5rem;
}

.content img {
    width: 200px;
    height: auto;
    border: 3px solid whitesmoke;
    border-radius: 50%;
}

.content img:hover {
    filter: grayscale(100%);
}

/* center img */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h1, h3 {
    text-decoration: underline solid #8bd8bd;
    animation: dropIn 1s ease-in-out;
}

h3 {
    text-align: center;
    color: whitesmoke;
}

h4 {
    color: white;
    text-decoration: underline solid white;
}

p {
    padding-bottom: 14px;
    border-bottom: 3px solid #8bd8bd;
}

/* Button Styling */
.button {
    display: flex;
    align-self: start;
    background-color: #8bd8bd;
    border: 1px solid whitesmoke;
    padding: 5px 10px;
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.button:hover {
    background-color: #7bccb0;
    border: 1px solid #373738;
    color: #373738;
    transform: scale(2);
    cursor: pointer;
}

/* My UX Skills Section coded using CSS Flex */
.mySkills {
    background-color: #1A6978;
    padding: 20px;
}

.mySkills h1 {
    text-align: center;
    color: whitesmoke;
}

.flexContainer {
    display: flex;
}

.flexContainer div {
    width: 33%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.flexContainer img {
    width: 250px;
    height: 200px;

    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.2);
    transition: transform .3s;
    outline-offset: 1rem;
}

.flexContainer img:hover {
    transform: translateY(-1.5rem) scale(1.03);
    outline: .3rem solid #7bccb0;
}

/* My Work Section coded using CSS Grid */
.myWork {
    background-color: #124451;
    padding: 20px;
}

.myWork h1 {
    text-align: center;
    color: whitesmoke;
}

.workGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    padding: 20px;
    margin-bottom: 10px;
    grid-template-areas: 
    'imageOne contentOne'
    'imageTwo contentTwo';
}

.workGrid img {
    width: 300px;
    height: 200px;
    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.2);
}

.workGrid p {
    line-height: 1.5rem;
    color: whitesmoke;
}

.workImageOne {
    grid-area: imageOne;
    display: grid;
    justify-self: center;
    align-items: center;
}

.workContentOne {
    grid-area: contentOne;
}

.workImageTwo {
    grid-area: imageTwo;
    display: grid;
    justify-self: center;
    align-items: center;
}

.workContentTwo {
    grid-area: contentTwo;
}


/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373738;
    text-align: center;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 3%;
    color: #7bccb0
}

footer li a {
    padding: 14px 16px;

}

/* Typography */
li, p {
    font-family: 'Roboto', sans-serif;
}

/* Media Queries*/
@media only screen and (max-width: 600px) {

    .inline-block {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav {
        padding: 0;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        display: none;
    }

    li a.active {
        background-color: #373738;
    }

    .heroImg {
        max-width: 100%;
        margin: 0%;
        display: flex;
        padding: 0%;
    }

    .content {
        display: flex;
        width: 20%;;
        /* max-width: 100%; */
        font-size: 16px;
        line-height: 1rem;
    }

    .content h1 {
        display: none;
    }

    .content img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .button {
        display: flex;
        align-self: center;
    }

    .mySkills {
        display: flex;
        flex-direction: column;
    }

    .flexContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .workGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 310px 370px 390px 115px 90px;
        grid-template-areas: 
        'imageOne' 
        'contentOne'
        'imageTwo' 
        'contentTwo';
    }

    .myWork {
        display: flex;
        flex-direction: column;
    }

    .myWork p {
        display: flex;
        width: 20%;
    }

    .workContentOne,
    .workContentTwo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .myWork h3 {
        display: none;
    }

    footer ul {
        display: flex;
    }
}

/* Animations */
@keyframes dropIn {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    80% {
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}