body {
    background: linear-gradient(to right, #1A6978, 50%, #124451);
    width: 1400px;
    height: 800px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */
.navigation {
    background-color: #373738;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.inline-block {
    
    margin: 0%;
    display: inline-block;
    vertical-align: middle;
}

.logo {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 18%;
    padding: 2%;
    text-align: center;
    border-right: 2px solid #8bd8bd;
}

.headerLogo {
    height: 40px;
}

nav {
    width: 78%;
    padding: 1%;
}

ul {
    width: 50%; /* this is screwing up the top nav */
    list-style-type: none;
    margin-left: auto; /* supposed to center the ul in its container to the right */
    
    margin: 0%;
    padding: 2%;
    overflow: hidden;
}

li a {
    color: #8bd8bd;
    text-decoration: none;
    padding: 14px 16px;
    transition: background-color 0.3s ease;
}

li a:hover:not(.active) {
    background-color: #222;
    color: whitesmoke;
}

.active {
    background-color: whitesmoke;
}

/* Hero Image */
.heroImg {
    background-image: url(../images/content-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 600px; was in instructions for HW17, but i removed once I did my own styling*/
    padding: 25px;
    margin: 20px 0 20px 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 700px;
    width: 1200px; /* was originally 500px per HW17, but I wanted the img to stretch wider */
    margin: 0 auto;
    padding: 35px;
    color: whitesmoke;
    line-height: 1.5rem;
}

.content img {
    width: 200px;
    height: auto;
    border: 3px solid whitesmoke;
    border-radius: 50%;
}

.content img:hover {
    filter: grayscale(100%);
}

/* center img */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h1 {
    text-decoration: underline solid #8bd8bd;
    animation: dropIn 1s ease-in-out;
}

p {
    padding-bottom: 14px;
    border-bottom: 3px solid #8bd8bd;
}

/* Button Styling */
.button {
    display: flex;
    align-self: start;
    background-color: #8bd8bd;
    border: 1px solid whitesmoke;
    padding: 5px 10px;
    display: inline-block;
    color: whitesmoke;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.button:hover {
    background-color: #7bccb0;
    border: 1px solid #373738;
    color: #373738;
    transform: scale(2);
}

/* My UX Skills Section coded using CSS Flex */
.mySkills h1 {
    text-align: center;
    color: whitesmoke;
}

.flexContainer {
    display: flex;
}

.flexContainer div {
    width: 33%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.flexContainer img {
    width: 250px;
    height: 200px;

    box-shadow: 8px 8px 8px 4px rgba(0, 0, 0, 0.2);
    transition: transform .3s;
    outline-offset: 1rem;
}

.flexContainer img:hover {
    transform: translateY(-1.5rem) scale(1.03);
    outline: .3rem solid #7bccb0;
}

.myWork h1 {
    text-align: center;
    color: whitesmoke;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #373738;
    text-align: center;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 3%;
    color: #7bccb0
}

footer li a {
    padding: 14px 16px;

}

/* Typography */
li, p {
    font-family: 'Roboto', sans-serif;
}

/* Animations */
@keyframes dropIn {
    0% {
        opacity: 0;
        transform: translateY(-10rem);
    }
    80% {
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}